@tailwind base;
@tailwind components;
@tailwind utilities;


.drawer-side a.active {
    color: white;
    
  }
  .drawer-side a {
    background-color: transparent;
    color: black;
  }

  
:root {
  --primary-color: 1, 1, 1;
  --secondary-color: 255, 255, 255;
  --accent-color: 95, 38, 255;
  --first-gradient: 126, 122, 235;
  --second-gradient: 214, 130, 180;
  --third-gradient: 99, 193, 219;
  --forth-gradient: 9, 9, 121;
  --fifth-gradient: 0, 212, 255;
  --dashboard-bg: 26, 27, 39;
  --dashboard-tile: 42, 45, 62;
}

/* * {
  outline: 1px solid red;
} */

/* body {
  background-color: rgb(var(--primary-color));
  color: rgb(var(--secondary-color));
}

.dashboard-bg {
  background-color: rgb(var(--dashboard-bg)) !important;
}

.dashboard-tile {
  background-color: rgb(var(--dashboard-tile));
}

.dashboard-color {
  color: rgba(var(--secondary-color));
}

.react-select-container {
  width: 100%;
} */

/* .react-select__control {
  background-color: rgba(255, 255, 255, 0.1);
 
  border: 2px solid #e2e8f0;
  border-radius: 8px;
} */

/* .react-select__menu {
  margin-top: 4px;
  border: 2px solid #e2e8f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  
} */

/* input[type="date"]::-webkit-calendar-picker-indicator{
  filter: invert(1);
}
input[type="time"]::-webkit-calendar-picker-indicator{
  filter: invert(1);
} */

.btn-bg-custom{
  background: -webkit-linear-gradient(40deg, rgb(var(--third-gradient)), rgb(var(--first-gradient)));
}

/* .react-select__option {
  color: #ffffff;
}

.react-select__single-value {
  color: #ffffff;
} */